<h1>Available currencies</h1>

<div class="row searchFilter">
  <div class="col-sm-8">
    <div class="input-group">
      <input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown">
      <select class="form-control col-sm-2" id="exampleFormControlSelect1">
        <option value="id">Id</option>
        <option value="code">Code</option>
        <option value="name">Name</option>
        <option value="type">Type</option>
      </select>
    </div>
  </div>
</div>
<ng-template #loading>
  <h4>Getting currencies...</h4>
</ng-template>
<div *ngIf="pageContent; else loading">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2" *ngFor="let c of pageContent.data">
        <div class="d-inline">
          ID:&nbsp;{{c.id}}
        </div>
        <div class="d-inline">
          Type:&nbsp;{{c.type}}
        </div>
        <div class="d-inline">
          Symbol:&nbsp;{{c.symbol}}
        </div>
      </div>
    </div>
  </div>
</div>